In [ ]:
import pandas as pd
import numpy as np
import logging as log

from data_prepare import getLogsFromDBByUserID

In [ ]:
df = pd.read_pickle('../data/173211-9739.pkl')
df['event'] = df['method'] + ':' + df['urlEntry']

In [ ]:
eventMap = {event: id for id, event in enumerate(df['event'].value_counts().keys())}
for id in eventMap.values(): 
    if id == 0:
        print(id)

In [ ]:
for id, event in enumerate(df['event'].value_counts().keys()):
    print((id, event))

In [ ]:
from datetime import datetime
# 增加日期
df['date'] = df['time'].apply(lambda x : datetime.fromtimestamp(x))
df.sort_values(by='time', ascending=True, inplace=True)
df = df.reset_index(drop=True)

In [ ]:
dates = df['date'].copy()
dates.sort_values(ascending=True, inplace=True)
# print(dates)
values = []
for i in range(1, len(dates)):
    values.append((dates[i] - dates[i-1]).total_seconds())
    if (dates[i] < dates[i-1]): 
        print(i, dates[i-1], dates[i])
v = np.asarray(values)
# values

In [ ]:
dates

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

# threshold = 60*60*2
threshlodd = 30
data = []
for i in values:
#     if i < threshold and i >= threshlodd: 
    data.append(i)
# max(data)
# d = np.asarray(data)
# plt.hist(bins=300, x=d)

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
months = df['date'].apply(lambda x : "%d-%d"%(x.year, x.month))
data = months.value_counts()
data.plot()

In [ ]:
df

In [ ]:
output = '../data/rewriteLog.log'
with open(output, 'w') as f:
    for logEntry in df.itertuples():
        f.write("%s %s %s %s %s %s %s\n" % (
            logEntry[8],
            logEntry[2],
            logEntry[3],
            logEntry[4],
            logEntry[5],
            logEntry[6],
            logEntry[7],
        ))

In [ ]:
from spellpy import spell

tau = 0.5
# input_dir = '../data/'
output_dir = '../data/output/'
log_format = '<Date> <Time> <Url> <Method> <Content> <Headers> <Name> <ADDR>'

parser = spell.LogParser(
    indir='./',
    outdir='./',
    log_format=log_format,
#     logmain=log_main,
    tau=tau,
)

parser.parse(output)

In [ ]:
df

In [ ]:
def deeplog_df_transfer(df, event_id_map):
  
    df = df[['date', 'event']]
    df['EventId'] = df['event'].apply(
        lambda e: event_id_map[e] if event_id_map.get(e) else -1)
    deeplog_df = df.set_index('date').resample(
        '30min').apply(_custom_resampler).reset_index()
    return deeplog_df


def _custom_resampler(array_like):
    return list(array_like)

def deeplog_file_generator(filename, df):
    with open(filename, 'w') as f:
        for event_id_list in df['EventId']:
            if (len(event_id_list) == 0):
                continue
            for event_id in event_id_list:
                f.write(str(event_id) + ' ')
            f.write('\n')

In [ ]:
df['event'] = df['method'] + ':' + df['urlEntry']
event_id_map = dict()
for i, event_id in enumerate(df['event'].unique(), 1):
    event_id_map[event_id] = i
event_id_map

## train

In [ ]:
epochs = range (1, 5)
losss = [0.015, 0.025, 0.045, 0.065]
accs = [0.085, 0.075, 0.045, 0.015]

import matplotlib.pyplot as plt
fig = plt.figure()

ax1 = fig.add_subplot(2, 1, 1)
ax2 = fig.add_subplot(2, 1, 2)
ax1.plot(epochs, losss, 'k')
ax2.plot(accs, losss)

In [1]:
urls = []
with open("../data/urls_origin.txt", 'r') as f:
    for line in f:
        urls.append(line.strip())
urls.__len__()

275974

In [2]:
from modules.url_match import UrlMatcher, UrlEntry
from sql.db import DB as db

entrys = db.queryUrlEntrys()

# entrys
# matcher = UrlMatcher()

In [3]:
urlEntrys = [UrlEntry(paraSet=(entry[2].split('/')[1], entry[1], entry[2])) for entry in entrys]
matcher = UrlMatcher(urlEntrys)

In [5]:
dic = set()
with open('../data/all_urls.csv', 'r') as f:
    first = True
    for line in f:
        if first:
            first = False
            continue
        ss = line.strip().split(',')
        module = ss[-1]
        url = line.strip().strip(','+module)
        url = '/' + url.strip('/')
        try:
            entry = matcher.convert(url, module)
            dic.add(entry)    
        except Exception as e:
            print(e)

In [11]:
# '/hr/thrpeople' in dic
matcher.convert('/hr/tpayusers', 'POST')

In [15]:
import pandas as pd
from datetime import datetime
data = [
    [1629089285.177, 1],
    [1629089385.177, 2],
    [1629089485.177, 3],
    [1629089585.177, 4],
    [1629089685.177, 5],
    [1639470245, 6],
]

df = pd.DataFrame(data, columns=['time', 'label'])

df['date'] = df['time'].apply(
            lambda timestamp: datetime.fromtimestamp(timestamp))
# df['event'] = df['method'] + ':' + df['urlEntry']
tdf = df[['date', 'label']]
tdf

                     date  label
0 2021-08-16 00:48:05.177      1
1 2021-08-16 00:49:45.177      2
2 2021-08-16 00:51:25.177      3
3 2021-08-16 00:53:05.177      4
4 2021-08-16 00:54:45.177      5
5 2021-12-14 03:24:05.000      6

In [45]:
import numpy as np
# tdf.set_index('date').resample('3min').apply(
#             lambda array: list(array)).reset_index()
ttdf = tdf.set_index('date').resample('40min').apply(
    lambda array: list(array)
).reset_index()

def maxCount(values):
    if len(values) <= 1:
        return values
    return np.argmax(np.bincount(values))

# ttdf
ttdf['label'].apply(lambda values : np.argmax(np.bincount(values)) if len(values) >= 1 else 0)

# ttdf['label']
# tttdf = ttdf['label'].dropna(0)
# tttdf

0       1
1       0
2       0
3       0
4       0
       ..
4320    0
4321    0
4322    0
4323    0
4324    6
Name: label, Length: 4325, dtype: int64

In [51]:
from typing import List
from sql.db import DB as db
from sql.db import ORIGIN_TABLE_LABELS

def getLogsFromDBByUserID(userID: str, columns: List[str] = []) -> pd.DataFrame:
    """
    getLogsFromDBByDate 获取某一时间段的日志，可支持获取日志的某几个字段

    Args:
        userID (str): userID
        columns (List[str]): 想要获取的字段，如果此项为空，则默认获取全部字段
    Returns:
        pd.DataFrame: 返回的日志数据

    ```
    userID = '173211-9739'
    df = getLogsFromDBByUserID(
        userID, ['time', 'urlEntry', 'method', 'parameterName', 'headers', 'name', 'ip'])
    ```
    df.to_pickle('data/%s.pkl' % userID)
    """
    if (columns == None or len(columns) == 0):
        columns = ORIGIN_TABLE_LABELS

    equalLabel = 'userID'

    log.debug("获取日志字段 %s, 要求 userID 为 %s " % (','.join(columns),  userID))

    originLogs = db.queryOriginWithEqual(columns, equalLabel, userID)
    log.debug("获取到数据%d条，columns为%s" % (len(originLogs), ','.join(columns)))
    df = pd.DataFrame(originLogs, columns=columns)
    # log.debug(df)
    return df

In [64]:
import numpy as np
import pandas as pd
import logging as log 
# from data_prepare import getLogsFromDBByUserID
# import data_prepare

# log.debug("开始处理用户%s, %d/%d" % (user, id, userNum))
tdf = getLogsFromDBByUserID('173211-1001180', ['time', 'urlEntry', 'method'])
log.debug("共获取到%d条数据" % len(tdf))
ths = '40min'
eventMap = {}

tdf['date'] = tdf['time'].apply(
    lambda timestamp: datetime.fromtimestamp(timestamp))
tdf['event'] = tdf['method'] + ':' + tdf['urlEntry']
tdf = tdf[['date', 'event']]
# update event map
# eventMap = {event: id for id, event in enumerate(
#     df['event'].value_counts().keys())}
for event in tdf['event']:
    if event not in eventMap:
        eventMap[event] = len(eventMap)

tdf['EventId'] = tdf['event'].apply(lambda e: eventMap[e])
deeplogDf = tdf.set_index('date').resample(ths).apply(
    lambda array: list(array)).reset_index()

deeplogDf
# df = pd.concat([df, deeplogDf], ignore_index=True)

,date,event,EventId
0,2020-10-14 10:40:00,"[GET:/portal/menus/mine/pc, GET:/portal/shortc...","[20, 21, 22, 4, 21, 5, 0, 15, 22, 1, 8, 17, 6,..."
1,2020-10-14 11:20:00,[],[]
2,2020-10-14 12:00:00,[],[]
3,2020-10-14 12:40:00,[],[]
4,2020-10-14 13:20:00,[],[]
...,...,...,...
10057,2021-07-20 19:20:00,[],[]
10058,2021-07-20 20:00:00,[],[]
10059,2021-07-20 20:40:00,[],[]
10060,2021-07-20 21:20:00,[],[]
10061,2021-07-20 22:00:00,[GET:/fin/ar/billSource/getNodeDetail/{sourceI...,"[4, 0, 5, 14, 3, 19, 16, 17, 1, 8, 7, 8, 10, 1..."

In [97]:
dDf = tdf.set_index('date').resample("40min").apply(
    lambda array: list(array) if len(array) > 0 else None).reset_index()

In [98]:
rdf = dDf.dropna(axis=0, subset=['EventId'])

In [99]:
rdf['len'] =rdf['EventId'].apply(lambda array : len( array ))
rdf

/home/chase/miniconda3/envs/deeplog/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,date,event,EventId,len
0,2020-10-14 10:40:00,"[GET:/portal/menus/mine/pc, GET:/portal/shortc...","[20, 21, 22, 4, 21, 5, 0, 15, 22, 1, 8, 17, 6,...",51
6,2020-10-14 14:40:00,[GET:/pm/integrate/prjInfoIntegrate/getPersona...,"[17, 0, 5, 4, 1, 21, 22, 15, 8, 6, 18, 2]",12
225,2020-10-20 16:40:00,[GET:/portal/shortcutconfig/getConfigCompletio...,"[21, 20, 22, 0, 4, 5, 21, 15, 8, 17, 22, 1, 6,...",28
683,2020-11-02 10:00:00,"[GET:/portal/menus/mine/pc, GET:/portal/shortc...","[20, 21, 22, 4, 5, 0, 15, 21, 8, 17, 22, 1, 6,...",28
10061,2021-07-20 22:00:00,[GET:/fin/ar/billSource/getNodeDetail/{sourceI...,"[4, 0, 5, 14, 3, 19, 16, 17, 1, 8, 7, 8, 10, 1...",45

In [119]:
import collections

for line in rdf['EventId']:
    # print(line)
    i = collections.Counter(line)
    # print(i.most_common(2).keys)
    # seq = [c for c, _ in i.most_common(2).keys]
    # print(seq)
longdf = pd.DataFrame(columns=['user', 'seq'])
longdf
lseq = []
user = 'ajfia'
# s = pd.Series(data = user, name='user')
# seq = pd.Series(data=lseq, name='seq')
# d = pd.DataFrame([s, seq]).reset_index()
# d
for seq in rdf['EventId']:
    cnter = collections.Counter(seq)
    lseq.extend([i for i, _ in cnter.most_common(2)])
# # print(lseq)
# t = pd.DataFrame(
#         data=[[user], [lseq]], 
#         # columns=['userId', 'seq']
#     )
# t
t
# longdf = pd.concat([
#     longdf, 
#     t], ignore_index=True)
# longdf   
#     ignore_index=True
# )
# longdf

                                 0
0                            ajfia
1  [8, 9, 17, 0, 9, 8, 9, 8, 8, 9]